.intermediate-section {
  .top-content {
    height: 535px;
    background-color: #000000e6;
    display: flex;
    .left-side {
      width: 525px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
        height: 60%;
      }
    }
    .right-side {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .middle-content {
    display: flex;
    justify-content: flex-end;
    position: relative;
    .squared-text {
      position: absolute;
      max-width: 619px;
      background-color: $primary;
      padding: 100px 20px 100px 30px;
      top: -70px;
      p {
        font-weight: 600;
        color: #000;
        text-align: left;
        font-size: 20px;
      }
    }
  }
  .bottom-content {
    padding: 50px;
    max-width: 1750px;
    max-height: 1100px;
    margin-top: 15rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .lower-text {
    padding: 180px 60px 60px;
    display: flex;
    justify-content: flex-end;
    .text {
      padding-right: 120px;
      p {
        font-size: 20px;
        max-width: 575px;
        text-align: left;
      }
    }
  }
}
