@import "./components/imports.scss";
@import "./assets/styles/common/variables.scss";
@import "flickity/css/flickity.css";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: $secondary;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

p {
  line-height: 1.2em;
}

h2 {
  font-size: 132px;
  font-weight: 900;
}